# API Configuration
VITE_API_BASE_URL=https://genor-dev-uaenorth-apim.azure-api.net/api
VITE_API_FLOW_STORAGE_URL=https://submission-service.jollyglacier-333ae961.uaenorth.azurecontainerapps.io
VITE_NOTIFICATION_HUB_URL=https://genor-dev-uaenorth-apim.azure-api.net/notificationHub
VITE_GENONE_BASE_URL=https://genor-dev-uaenorth-apim.azure-api.net/api/genone

# VITE_COLLAB_WS = http://localhost:56319
VITE_COLLAB_WS=https://genor-dev-uaenorth-apim.azure-api.net/config-socket
VITE_MODE=dev

# Azure Entra ID Configuration
VITE_AZURE_CLIENT_ID=a2009acb-3608-4fb1-b235-511ffc36516d
VITE_AZURE_TENANT_ID=abcca9f5-7acc-43da-9d88-77cd3de47273
VITE_AZURE_REDIRECT_URI=http://localhost:5173/auth/callback
VITE_AZURE_SCOPE=openid profile email


# Add other environment-specific variables below

